.btn-cadastro{
	margin-left: 980px;
}
.sobre-nos{
	margin-top: 50px;
}
.sobre-nos h4{
	color: #808080;
}
.sobre-nos h3{
	margin-top: 70px;
	text-align: center;
}
.prof-home{
	margin-top: 50px;
}
.prof-home h4{
	color: #808080;
}
.prof-home h3{
	text-align: center;
}
.carousel-inner {
	margin-top: 60px;
	height: 400px ; 
}
.beneficios{
	margin-top: 70px;
}
.footer{
	background-color: #343a40;
}
.img-responsive {
	margin-top: 10px;
	width: 80px;
}
.alert alert-dark text-center{
	font-size: 16px;
	font-size: 110%;
}
.notice {
    padding: 15px;
    background-color: #ffffff;
    border-left: 6px solid #404042;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-danger {
	border-color: #404042;
	font-size: large;
}
.notice-danger>strong {
	color: #404042;
	font-size: large;
}
.featurette-image{
	height: 350px;
	width: 500px;
}
