.btn-cadastro{
	margin-left: 980px;
}
.sobre-nos{
	margin-top: 50px;
}
.sobre-nos h4{
	color: #808080;
}
.sobre-nos h3{
	margin-top: 70px;
	text-align: center;
}
.prof-home{
	margin-top: 50px;
}
.prof-home h4{
	color: #808080;
}
.prof-home h3{
	text-align: center;
}
.carousel-inner {
	margin-top: 80px;
	height: 500px ; 
}
.beneficios{
	margin-top: 70px;
}
.footer{
	background-color: #343a40;
}
.img-responsive {
	margin-right: -50%;
	margin-top: 10px;
	width: 100px;
}